*{
    height: 100%vh;
    width: 100%vw;
}
.img_container{
    position: relative;
}

.secondary_pic{
    position: absolute;
    top: 5%;
    left: 40%;
    /* transform: translate(-100%, -100%); */
    z-index: 2;
    
}

.name{
    font-size: 15px;
    font-weight: bold;
}
p{
    font-size: 12px;
}

.inbox_mess:hover{
    text-decoration: none;
    background-color: #dfdede;
    border-radius: 3px;
    cursor: pointer;
}
.inbox_mess:hover .active {
    display: none;
}
#more {
    display: none;
   
}

#active_now{
    font-size: 20px;
    color: #0094FF;
}

.inbox_mess:hover #more {
    display: block;
}

#seconds{
    font-size: 12px;
}

#message{
    height: 80px;
}

#content{
    height: 560px;
    overflow-y: auto;
    /* padding: 10px; */
}

#header_img{
    position: relative;
    top: -10%;
    left: -30%;
    /* transform: translate(-100%, -100%); */
    z-index: 2;
    
}
.img_wrapper{
    width: 65px;
    /* background-color: aqua; */
}
.person_name{
    font-size: 12px;
  

}
#date{
    font-size: 15px;
    color: #959494;
}

.received_message{
    font-size: 15px;
    background-color: #D9D9D9;
    border-radius: 15px;
}

.sent_message{
    background-color: #49DA04;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 15px;
}

#sent_container{
    display: inline-block;
    max-width: 50%;
    word-wrap: break-word;
    
}

#received_container{
    display: inline-block;
    max-width: 50%;
    word-wrap: break-word;
    
}

.inbox_content{
    height: 560px;
    overflow-y: auto;
}

#chats{
    width: 380px;
}
.dropdown{
    height: 100%vh;
}

#see_more{
    position: relative;
    overflow-y: auto;
    height: 100vh;
}

.group_photo{
    position: absolute;
    top: 4%;
    left: 50%;
}

#customed_chat, #chat_members, #media, #privacy {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
}

#see_more{
   
    overflow-y: auto;
}

#customed_chat::after, #chat_members::after, #media::after, #privacy::after {
    content: "";
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
    display: inline-block;
    margin-left: 13em; /* Adjust the margin as needed */
    vertical-align: 0.15em; /* Adjust the vertical alignment as needed */
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

#customed_chat[aria-expanded="true"]::after,
#chat_members[aria-expanded="true"]::after,
#media[aria-expanded="true"]::after,
#privacy[aria-expanded="true"]::after {
    transform: rotate(180deg); /* Rotate the arrow when the dropdown is open */
}

#chat_members::after {
    margin-left: 13.5em;
}
#media::after {
    margin-left: 13em;
}
#privacy::after {
    margin-left: 11.8em;
}

#grad1 {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 100%;
    left: 100%;
    background-color: rgba(255, 192, 203, 0.3);
    transform: translate(-100%, -100%);
    z-index: -1;
    border-radius: 50%;
    box-shadow: 0 0 150px 150px rgba(255, 192, 203, 0.3);
}



.sub_text{
    font-size: 12px;
    color: #959494;
}

p.nickname {
    min-width: 220px; /* Adjust this value according to your needs */
}